BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -4
AlignTrailingComments: true
BreakBeforeBraces: Attach
Cpp11BracedListStyle: true
PointerAlignment: Left

